.member_login_container {
  border: 1px solid burlywood;
  height: 475px;
  /* background-color: rgba(109, 200, 190, .6); */
}


.login_text{
    height: 800px;
    display: flex;
    align-items: center;
}

.right_side_content {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.right_side_content input {
  width: 100%;
}
.forget_btn {
  color: #007f3d;
  text-align: center;
  border: 2px solid #007f3d;
  padding: 5px 20px;
  border-radius: 50px;
  margin-top: 40px;
}
.forget_btn:hover {
  background-color: #6dc8be;
  border: 2px solid #6dc8be;
  color: #fff;
}
.next_btn {
  background-color: #007f3d;
  font-size: 14px;
  font-weight: 600;
  padding: 5px 20px;
  border-radius: 10px;
  color: #f4f4f4;
  margin-top: 30px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}
.next_btn:hover{
    background-color: #6dc8be;
    color: #f4f4f4;
    box-shadow: none;

}
